:root{
  --zen-colors-tertiary: transparent !important;
  --zen-settings-secondary-background: transparent !important;
  --in-content-page-background: transparent !important;
}

.KEYJUMP_hint{
  border-radius: 100px !important;
  background-color: #49FCBB !important;
  color: #000 !important;
  font-family: 'Product Sans', Sans !important;
  font-weight: bold !important;
  box-shadow: #0008 0 0 10px !important;
  border: #0008 1px solid !important;
  transition: all 0.3s ease-in-out !important;
}

@-moz-document url(about:config), url(about:preferences), url(about:addons){
  tr, table, html, #toolbar, .sticky-container{
    background-color: transparent !important;
    border: none !important;
  }
  tr{
    outline: solid 1px #88888822 !important;
  }
}

groupbox{
  background: var(--zen-colors-border-contrast) !important;
  border: none;
}

@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
  body, .App{
    background-color: #00000000 !important;
  }

  .top-sites-list, .personalizeButtonWrapper{
    opacity: 0 !important;
    transition: opacity 0.3s ease-in-out;

    &:hover{
      opacity: 1 !important;
    }
  }
  
  .App > div:nth-child(2), .wallpaper{
    display: none !important;
  }
  
/*  no private hint  */
  .info-border > .info{
    display: none !important;
  }
  
/*  rounded search  */
  #search-handoff-button{
    border-radius: 2em !important;
  }
  
/*  no zen text  */
  .wordmark{
    display: none !important;
  }
}

@-moz-document url(addons.mozilla.org) {
  /* transparency */
html, body, nav, header{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* darkreader */
:root{
  --darkreader-background-ffffff: transparent !important;
}

/* no footer */
footer{
  display: none !important;
}
}
